.DS_Store
.ipynb_checkpoints
.hypothesis
.idea
.tox
.pytest_cache
.claude
CLAUDE.md
*.pyc
*.egg-info
**/__pycache__
*.zarr/
*.zarr/**
build
dist

# 忽略 abtem-mcp-server 目录
abtem-mcp-server/

abtem-frontend/
